{% extends 'base.html' %}

{% block title %}
Задача 3
{% endblock %}

{% block content %}
    <div class="container">
        <header>
            <h3> Задание </h3>
            <br>
            <h5>
                Создать форму для регистрации пользователей на сайте. <br> Форма должна содержать поля "Имя", "Фамилия", "Email", "Пароль" и кнопку "Зарегистрироваться".<br>
                При отправке формы данные должны сохраняться в базе данных, а пароль должен быть зашифрован.
            </h5>
            <br>
            <form action="/registration" >
               <button>Зарегистрироваться</button>
            </form>

        </header>
    </div>
{% endblock %}