{% extends 'base.html' %}

{% block title %}
Задача 3
{% endblock %}

{% block content %}
    <div class="container">
        <header>
            <h3> Задание №4</h3>
            <br>
            <h5>
                Создайте форму регистрации пользователя с использованием Flask-WTF. Форма должна
                содержать следующие поля:   <br>
                ○ Имя пользователя (обязательное поле)<br>
                ○ Электронная почта (обязательное поле, с валидацией на корректность ввода email)<br>
                ○ Пароль (обязательное поле, с валидацией на минимальную длину пароля)<br>
                ○ Подтверждение пароля (обязательное поле, с валидацией на совпадение с паролем)<br>
                После отправки формы данные должны сохраняться в базе данных (можно использовать SQLite)<br>
                и выводиться сообщение об успешной регистрации. Если какое-то из обязательных полей не<br>
                заполнено или данные не прошли валидацию, то должно выводиться соответствующее
                сообщение об ошибке.<br>
                Дополнительно: добавьте проверку на уникальность имени пользователя и электронной почты в
                базе данных. <br>Если такой пользователь уже зарегистрирован, то должно выводиться сообщение
                об ошибке.
            </h5>
            <br>
            <form action="/registration" >
               <button>Зарегистрироваться</button>
            </form>

        </header>
    </div>
    <br>
    <div class="container">
        {% if username %}
            <h4> {{ username }}, {{ message }}</h4>
        {% endif %}
    </div>
{% endblock %}