<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
</head>
<body>

    {% for news in context %}
        <h2><font color="blue">{{ news['headers'] }}</font></h2>
        <p>{{ news['descriptions'] }}</p>
        <p>{{ news['date'] }}</p>
        <hr>
    {% endfor %}

</body>
</html>