{% extends 'base.html' %}

{% block title %}
Задача 2.1
{% endblock %}


{% block content %}
<div class="container">
    <h3> Задача N1</h3>
    <p>📌 Создать страницу, на которой будет форма для ввода имени и возраста пользователя и кнопка "Отправить" </p>
    <p>📌 При нажатии на кнопку будет произведена проверка возраста и переход на страницу с результатом <br>или на
        страницу с ошибкой в случае некорректного возраста.
    </p>
    <hr>
</div>
<br>
<div class="container">
    <form action='/task2_1' method="post">
        <input   type="text" name="username" placeholder="Имя">
        <input   type="text" name="age" placeholder="Возраст">
        <input   type="submit" >
    </form>
</div>
<br>
<div class="container">
    {% if age %}
    <h4> {{ username }} Ваш возраст {{ age }}, {{ message }}</h4>
    {% else %}
    <h4> {{ error }} </h4>
    {% endif %}
</div>
{% endblock %}


{% block footer %}

{% endblock %}