{% extends 'base.html' %}

{% block title %}
Задача 2.1
{% endblock %}


{% block content %}
<div class="container">
    <h3> Задача N2</h3>
    <p>📌Создать страницу, на которой будет форма для ввода числа и кнопка "Отправить"
    <p>📌 При нажатии на кнопку будет произведено перенаправление на страницу с результатм, <br>
    где будет выведено введенное число и его квадрат. </p>
    <hr>
</div>
<br>
<div class="container">
    <form action='/task2_2' method='post'>
        <input type="text" name="number" placeholder="Ведите число">
        <input type="submit"  >
    </form>
</div>
<br>
<div class="container">
    {% if num %}
    <h4>Квадрат числа {{ num }} = {{ result }}</h4>
    {% else %}
    <h4> {{ error }} </h4>
    {% endif %}
</div>
{% endblock %}


{% block footer %}

{% endblock %}