{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h4>Удалить запись</h4>
</div>
<div>
    <div class="container">
        <form action="/delete" method="post">
            <input type="text" name="phone_number" placeholder="Номер телефона">
            <input type="hidden" name="_method" value="delete">
            <input type="submit">
        </form>
    </div>
    <br>
    <div class="container">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>

</div>
{% endblock %}