{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h4>Весь справочник</h4>
</div>
<div class="container">
    {% for contact in phonebook_db %}
        <div class="container">
            <li>{{ contact.surname }} {{ contact.name }} - тел.{{ contact.base_phone_number }}
            {% if contact.additional_phone_number %}
                , доп. {{ contact.additional_phone_number }}
            {% endif %}
            </li>
        </div>
    <br>
    {% endfor %}
    <br>
</div>
{% endblock %}